body{
	padding: 0;
	margin: 0;
	font-family: Calibri, sans-serif; 
	background-color: powderblue;
}

section{
	margin-top: 10px;
}

.basket-name{
	text-align: center;
	font-size: 30px;
}

.line{
	width: 100%;
	height: 1px;
	background-color: black;
	margin-top: 20px;
}

.container{
	width: 100%;
	margin: 0 auto;
	min-height: calc(100vh - 70px);
	/*height: auto*/
	display: inline-block;
}

.list-text{
	margin-left: 40px;
	font-size: 30px;
}

.container-products{
	margin-left: 20px;
	background-color: deepskyblue;
	float: left;
	border: 1px solid grey;
	width: 70%;
	height: 500px;
}

.products li{
	text-decoration: none;
	list-style-type: none;
}

.container-product{
	margin-top: 20px;
	/*background-color: yellow;*/
	width: inherit;
	margin-right: 50px;
	height: 60px;
}

.product{
	font-size: 30px;
	float: left;
	display: inline-block;
	width: 1000px;
	height: 40px;
	border: 1px solid grey;
	background-color: skyblue;
	text-align: center;
}

.delete{
	float: left;
	margin-left: 40px;
	box-sizing: border-box;
	border: 2px solid black;
	font-size: 30px;
	padding-right: 40px;
	padding-left: 40px;
	background-color: firebrick;
	text-decoration: none;
	color: black;
}

.container-info{
	margin-left: 50px;
	background-color: deepskyblue;
	float: left;
	border: 1px solid grey;
	width: 20%;
	height: 500px;
}


.info-total-order{
	margin-top: 10px;
	width: 300px;
	margin-left: calc(10vw - 150px);
	height: 200px;
	background-color: skyblue;
}

.text-total{
	text-align: center;
	font-size: 30px;
}

.price-total{
	text-align: center;
	font-size: 30px;
	margin-top: 70px;
}

.button-confirm{
	float: left;
	margin-left: 85px;
	margin-top: 200px;
	box-sizing: border-box;
	border: 2px solid black;
	font-size: 30px;
	padding-right: 40px;
	padding-left: 40px;
	background-color: skyblue;
	text-decoration: none;
	color: black;
}

