body{
    background-color: #edeef0;
}

.button{
    margin-top: 20px;
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: #3c77a5; /* фон кнопки */
    padding: .7em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
}

.button:hover{
    background: rgb(52, 95, 167);
}

.button:active{
    background: #3c77a5;
}

.files{
    display: inline;
    margin-top: 0;
}

.table-categories, .table-orders, .table-product{
    margin-top: 20px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
}

th, td:first-child {
    background: #AFCDE7;
    padding: 10px 20px;
}

th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

td {
    background: #D8E6F3;
}

th:first-child, td:first-child {
    text-align: left;
}