body{
    padding: 0;
    margin: 0;
    font-family: Calibri, sans-serif;
    /*background-color: #edeef0;*/
    background-color: #e8e8e8;
}

div{
    box-sizing: border-box;
}

header{
    height: 85px;
}

section{
    margin: 0;
    padding: 0;
    min-height: calc(100vh - 103px);
}

.upper-container{
    border-radius: 4px;
    margin-left: 45px;
    margin-top: 10px;
    width: 92%;
    height: 55px;
    background-color: #3c77a5;
    box-shadow: 0 0 5px #3c77a5;
}

.name-shop{
    margin-left: 25px;
    display: inline;
    font-size: 40px;
    color: #f0f0f0;
}

.search{
    display: inline;
    margin-top: 10px;
    width: 250px;
    font-size: 25px;
    height: 30px;
    margin-left: 560px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.button-basket{
    box-sizing: border-box;
    font-size: 25px;
    padding-right: 15px;
    padding-left: 15px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #0d4c77;
    text-decoration: none;
    color: #f0f0f0;
}

.button-search{
    box-sizing: border-box;
    font-size: 25px;
    padding-right: 15px;
    padding-left: 15px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #0d4c77;
    text-decoration: none;
    color: #f0f0f0;
}

.text-count-products{
    display: inline;
    font-size: 20px;
    color: white;
}

.count-products{
    display: inline;
    font-size: 20px;
    color: white;
}

.text-category{
    margin-top: 10px;
    text-align: center;
    font-size: 33px;
}

.categories{
    margin-top: 15px;
}

.categories li{
    list-style-type: none;
    display: block;
    margin-left: 13px;
    margin-top: 20px;
    /*float: left;
    display: block;
    width: 200px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    background-color: #f8f8f8;
    text-align: center;
    vertical-align: bottom;*/
}

/*.menu-elem{
    display: block;
    margin-left: 13px;
    margin-top: 20px;
}*/

#cart{
    margin-left: 70px;
}

.lower-container{
    width: 100%;
    margin: 0 auto;
    min-height: calc(100vh - 270px);
    /*height: auto*/
    /*background-color: #edeef0;*/
    display: inline-block;
}

.lower-container-categories{
    margin-left: 45px;
    display: inline-block;
    border: 1px solid #a0a0a0;
    border-radius: 4px;
    /*background-color: #e6e8eb;*/
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    float: left;
    width: 20%;
}

.button-category{
    font-size: 16px;
    color: #202020;
    margin-top: 10px;
    width: 200px;
    height: 50px;
    background: #ececec;
    border-radius: 3px;
}

.button-category:hover{
    background-color: #3c87b5;
}

/*#button-rawCategory-all{
    background: #3c77a5;
}*/

.lower-container-products{
    margin-left: 3%;
    /*background-color: #e6e8eb;*/
    background-color: #f8f8f8;
    border: 1px solid #a0a0a0;
    border-radius: 4px;
    float: left;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    /*border-right: 2px solid grey;*/
    width: 69%;
}

/*.lower-container-filters{
	background-color: powderblue;
	float: left;
	width: 20%;
	height: auto;
}*/

.text-center{
    text-align: center;
    margin-top: 10px;
    font-size: 33px;
}

.products{
    margin-top: 20px;
    /*column-count: 2;
    /*display: flex;
    flex-direction: column;
    flex-wrap: wrap;*/
}

.products li{
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    page-break-inside: avoid;
    break-inside: avoid;
}

.product{
    display: inline-block;
    margin-left: 35px;
    font-size: 22px;
    margin-top: 30px;
    line-height: 100%;
    /*width: calc(50vw - 200px);*/
    width: 400px;
    border: 1px solid #a0a0a0;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2) inset;
    background-color: #f6f6f6;
}

p{
    text-align: center;
    margin: 15px;
}

.button-product{
    margin-left: 50px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 4px;
    background: #3c87b5;
    box-shadow: 0 -3px rgb(52, 95, 167) inset;
    transition: 0.2s;
    margin-bottom: 4px;
}

.button-product:hover{
    background: rgb(52, 95, 167);
}

.button-product:active{
    background: #3c77a5;
    box-shadow: 0 -3px rgb(61, 78, 167) inset;
}

.button-product:disabled{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}